/* body to apply same style for all*/

h1 {
font-family: Arial, Helvetica, sans-serif;
background-color: #F9F264;
line-height: 150px;
padding-left: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border: 10px solid #F9F264;
  width: 30%;
}

section {
  margin-top: 100px;
}

/* h1, h2 for shortcut */
h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid;
  border-bottom-color: black;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

#ingredients li {
  border-bottom: 1px solid;
  border-bottom-color: grey;
}

ul.list {
  list-style-type: none;
  line-height: 50px;
  padding: 0;
}

ol.list {
  line-height: 50px;
}

#instructions {
  padding-left: 20px;
}

a {
  color: white;
}

footer {
  background-color: black;
  margin-top: 100px;
}

footer p {
  color: white;
  line-height: 150px;
  margin-left: 100px;
}
